*{
    user-select: none;
}
:root {
    /* Background Color*/
    --dark1:rgb(35,35,35);
    --dark2:rgb(10,10,10);

    /* ----------- Board Colors ----------- */
    --green:rgb(64, 161, 75);
    --red:rgb(195, 59, 59);
    --blue:rgb(66, 66, 180);
    --white:rgb(255,255,255);


    --wood0:#f2dfa7;
    --wood1:#d2bf92;
    --wood2:#825625;
    --wood3:#805533;

}
body {
    background-image: linear-gradient(var(--dark1),var(--dark2));
}
.main-board {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}
.chess-table {
    /* box-shadow: 0px 0px 0px 10px var(--greenBorder); */
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}   
.square {
    width: 100%;
    height: 100%;
    position: relative;
    color: rgba(0,0,0,0.6);

}
.square.white {
    background-color: var(--white);
}
.square.black {
    background-color: var(--green);
}
.piece {
   position: absolute;
   height: 100%;
   top: 0;
   left: 6%;
   z-index: 1;
   /* transform: tranlsate(-50%,50%); */
}

.circle {
    height: 82%;
    width: 82%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(10, 8, 133, 0.575);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Piece setting */

.piece {
    cursor: grab;
}

.change-boardColor {
    margin: 20px auto 50px;
    display: grid;
    justify-content: center;
}
#boardSelector {
    width: 100px;
    text-align: center;
}

@media (max-width: 600px){
    .chess-table {
        height: 350px;
        width: 350px;
    }  
}